.project-card {
    padding: 2rem;
    margin: auto;
    text-align: left;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.project-title {
    font-weight: bold;
}

.project-info {
    width: 50%;
}

.project-links {
    display: flex;
    justify-content: center;
}

.link {
    padding: .5rem;
    margin: 1rem;
    width: 5rem;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 2px #c2c0c0 solid;
    background: #dbdbdb;
    border-radius: .5rem;
    box-shadow: 3px 3px 5px #c2c0c0;
}

.inactive-link {
    font-weight: normal;
    text-decoration: line-through;
}

.project-image {
    max-width: 30%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.project-image img {
    flex: none;
    display: block;
    width: auto;
    height: auto;
}

.project-search {
    width: 100%;
    margin: auto;
    text-align: center;
}