{% extends "layout.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock head %}
{% block content %}
    <h1 class="heading">Neil Clack</h1>
    <h2 class="subheading">Software Development &amp; Data Analytics</h2>
    <div class="hero">
        <img src="{% static 'images/hero.png' %}"
             height="370px"
             width="1200px"
             alt="image"/>
    </div>
    <p class="intro">
        Welcome to my site! Here you can find examples of my previous works (where possible), some things I'm currently working on, and soon my micro-blog containing tutorials, thoughts and more about my projects.
        If you like what you see, head over to the <a href="#">contact</a> page and shoot me a message! I usually respond within 48 hours. Except for weekends, please don't be mad if I don't respond on weekends.
    </p>
{% endblock content %}
