{% extends "layout.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock head %}
{% block content %}
    <h1 class="heading">Neil Clack</h1>
    <h2 class="subheading">Software Development &amp; Data Analytics</h2>
    <div class="hero">
        <img src="{% static 'images/hero.png' %}"
             height="370px"
             width="1200px"
             alt="image"/>
    </div>
    <p class="intro">
        Empowering businesses and individuals with the capabilities of software and data to solve their every need.
    </p>
    <p class="intro">
        Build your next project by heading over to the <a href="{% url 'contact' %}">Contact</a> page, or see what I'm capable of by checking out my current and previous <a href="{% url 'projects' %}">projects</a>.
    </p>
{% endblock content %}
