{% extends 'layout.html' %}
{% load static %}
{% block header %}
    <link rel='stylesheet' href="{% static 'css/projects.css' %}" />
{% endblock %}
{% block content %}
    <h1>Projects Page</h1>
    <div class="project-search">
    <input>
    </input>
    <button>Search</button>
</div>
    {% for project in projects %}
    <div class="project-card">
        <div class="project-info">
        <p>{{ project.title }}</p>
        <p>{{ project.description }}</p>
        <div class="project-links">
            <a href="#" class="active-link link">Detail</a>
        {% if project.github %}
            <a href="{{project.github}}" class="active-link link" target="_blank">Github</a>
        {% else %}
            <a href="#" class="inactive-link link">Github</a>
        {% endif %}
        {% if project.live %}
            <a href="{{project.live}}" class="active-link link" target="_blank">Live</a>
        {% else %}
            <a href="#" class="inactive-link link">Live</a>
        {% endif %}
        </div>
        </div>
        <div class="project-image">
        {% if project.image %}
            <img src="{{project.image}}"/>
        {% endif %}
        </div>
    </div>
    {% endfor %}
{% endblock %}