{% extends "layout.html" %}
{% load static %}
{% block head %}
    <link rel='stylesheet' href="{% static 'css/projects.css' %}" />
{% endblock head %}
{% block content %}
    <h1>Project Archives</h1>
    {% for project in projects %}
        <div class="project-card">
            <div class="project-info">
                <p class="project-title">{{ project.title }}</p>
                <div class="project-image">
                    <img src="{{ project.image.url }}"
                         height="200px"
                         width="200px"
                         alt="project image"/>
                </div>
                <p>{{ project.summary }}</p>
                <div class="project-links">
                    {% if project.github %}
                        <a href="{{ project.github }}" class="active-link link" target="_blank">Github</a>
                    {% else %}
                        <a href="#" class="inactive-link link">Github</a>
                    {% endif %}
                    {% if project.live %}
                        <a href="{{ project.live }}" class="active-link link" target="_blank">Live</a>
                    {% else %}
                        <a href="#" onClick="return false;" class="inactive-link link">Live</a>
                    {% endif %}
                    <a href="{% url 'project_detail' project.id %}" class="active-link link">More</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
