{% extends "layout.html" %}
{% load static %}
{% block head %}
    <link rel='stylesheet' href="{% static 'css/projects.css' %}" />
{% endblock head %}
{% block content %}
    <div class="container">
        <h1>{{ project.title }}</h1>
        <div class="project-container-detail">
            <img class="detail-image"
                 src="{{ project.image.url }}"
                 width="200px"
                 height="200px"
                 alt="Project Image. Probably not relavent"/>
            <div class="project-links">
                {% if project.github %}
                    <a href="{{ project.github }}" class="active-link link" target="_blank">Github</a>
                {% else %}
                    <a href="#" class="inactive-link link">Github</a>
                {% endif %}
                {% if project.live %}
                    <a href="{{ project.live }}" class="active-link link" target="_blank">Live</a>
                {% else %}
                    <a href="#" class="inactive-link link">Live</a>
                {% endif %}
            </div>
            <p>{{ project.description }}</p>
            <a href="{% url 'projects' %}" class="active-link link center">Project List</a>
        </div>
    </div>
{% endblock content %}
