.title {
    text-decoration: underline;
}

.sub-title {
    padding-bottom: 3rem;
}

.resume-summary {
    width: 70%;
    text-align: center;
    margin: auto;
}

.job-card {
    width: 70%; 
    margin: auto;
    padding: 1rem;
}

.job-title {
    font-weight: bold;
}

.company {
    font-weight: bold;
}

.date {
    text-decoration: underline;
}

.job-description {
    padding: 1rem;
}

.jd-bullet {
    padding: .25rem;
}