html,
body {
    min-height: 100%;
    min-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.topnav {
    position: sticky;
    background-color: #ffffff;
    top: 0;
    padding: 1em;

    .logo {
        font-weight: bold;
        text-decoration: none;
        color: black;
    }

    .hide-nav {
        display: none;
    }

    .show-nav {
        padding-top: 8rem;
    }

    .link-container {
        display: flex;
        flex-direction: column;
        height: 90vh;
        z-index: 9;
        justify-content: flex-start;
        align-items: end;

        a {
            padding: 1em;
            color: black;
            text-decoration: none;
        }
    }

    .icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 1em 1em;
        color: black;
    }
}

main {
    width: 95%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        margin: auto;
        text-align: center;
        margin-top: .5em;
    }

    h2 {
        margin: auto;
        text-align: center;
        margin-top: 2em;
    }
}

footer {
    div {
        margin: 0 auto;
        text-align: center;

        a {
            text-decoration: none;
            color: black;
        }
    }
}


footer {
    margin-top: auto;
}