@import './variables';

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 2em;
}

.intro {
    margin: auto;
    margin-top: 2em;
    text-align: center;

    @include mediumScreen() {
        width: 80%;
    }

    a {
        color: blue;
    }
}