.download {
    text-align: center;
    font-size: 1em;
    float: right;
    padding-left: 1em;
    display: flex;
    flex-direction: column;

    sup {
        font-size: .3em;
    }
}

.resume-summary {
    width: 90%;
    margin: 2em auto;
}

.job-card {
    border-bottom: 1px solid black;

    .company {
        font-size: 1.2em;
        font-weight: bold;
        text-decoration: underline;
    }

    .job-title {
        font-weight: bold;
    }

    .date {
        font-style: italic;
    }

    .job-description {
        .jd-bullet {
            margin: 1em auto;
        }
    }

}