<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Neil Clack | Home</title>
        <meta name="description"
              content="Neil Clack's Portfolio and Corner of the Web"/>
        <meta name="keywords" content=""/>
        <meta name="viewport"
              content="width=device-widtmyFunctionh, initial-scale=1.0"/>
        <link rel="stylesheet" href="{% static 'css/global.css' %}" />
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
              rel="stylesheet"
              type="text/css"/>
        <link href="{% static 'fontawesomefree/css/solid.css' %}"
              rel="stylesheet"
              type="text/css"/>
        <script type="text/javascript" src="{% static 'js/nav.js' %}"></script>
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <div class="topnav">
            <a href="{% url 'index' %}" class="logo">Neil Clack</a>
            <!-- Navigation links (hidden by default) -->
            <div id="nav-links" class="hide-nav">
                <div class="link-container">
                    <a href="{% url 'index' %}" onclick="toggleNav()">Home</a>
                    <a href="{% url 'projects' %}" onclick="toggleNav()">Projects</a>
                    <a href="{% url 'resume' %}" onclick="toggleNav()">Resume</a>
                    <a href="{% url 'contact' %}" onclick="toggleNav()">Contact</a>
                </div>
            </div>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="toggleNav()">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
            <div>
                <p>
                    © <script>document.write(new Date().getFullYear())</script> Neil Clack
                </p>
                <p>
                    <a href="#">Legal</a>
                </p>
            </div>
        </footer>
    </body>
</html>
